.navbar
{
    background-color: #6666CC;
    color: white;
    line-height: 2.5;
}
.navbar a{
    color: white;
}
.search-box
{
    width: 300px !important;
    margin: 0px !important;
    height: 40px !important;
}
.form-control{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }
.search-btn
{
    color: white;
    font-size : 20px;
}
.fa-caret-down
{
    color: black;
    padding-left : 10px;
}

/* Dropdown Button */
.dropbtn {
    /* background-color: #4CAF50; */
    color: #4CAF50;
    /* padding: 10px; */
    font-size: 15px;
    width: 20%;
    height: 42px;
    border: none;
    cursor: pointer;
    border-radius: 10% 0 0 10%;
}
  
  /* Dropdown button on hover & focus */
  /* .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
  } */
  
  /* The search field */
  #myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 20px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 0px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 50px 50px 0 0;
  }
  
  /* The search field when it gets focus/clicked on */
  #myInput:focus {outline: 3px solid #ddd;}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
    border-radius: 50px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}